.container
  .row.header-xtg
    .col-md-12
      %h1
        Design graphique
        = image_tag "xtg/logo-xtg2.png"
        Publication digitale


.container-full.menu-xtg
  .row.transition
    .col-md-12

  .container
    .row
      .col-md-3
        %nav 
          .titres-menu
            Identité & edition
      .col-md-3
        %nav 
          .titres-menu
            Illustrations
      .col-md-3
        %nav 
          .titres-menu
            Web
      .col-md-3
        %nav 
          .titres-menu
            Publications digitales

.container-full.galerie
  .container
    .row.elements-galerie
      .col-md-2
        = image_tag "accueil/arrow-accueil-prev.png"
      .col-md-8
      .col-md-2
        = image_tag "accueil/arrow-accueil-next.png"

.container
  .row.pushs
    .col-md-4
      %h2 
        Design graphique
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. 
    .col-md-4
      %h2 
        Relation
      %p
        Trouver des solutions adaptées, et vous accompagner dans le temps 
    .col-md-4
      %h2 
        Publications digitales
      %p
        Développer vos publications, les penser d'abord pour le web 

.container
  .row.surtitre-travaux
    .col-md-12
      %p
        Découvrir tous les projets


.container-full.fond-accueil
  .container
    .row.fleche
      .col-md-12
        = image_tag "accueil/fleche-bas.png"
    .row.cases-accueil
      .col-md-3
        = image_tag "accueil/cover-w.jpg"
      .col-md-3
        = image_tag "accueil/cover-ak.jpg"
      .col-md-3
        = image_tag "accueil/cover-w.jpg"
      .col-md-3
        = image_tag "accueil/cover-w.jpg"

    .row.cases-accueil
      .col-md-4
        = image_tag "accueil/cover-w.jpg"
      .col-md-4
        = image_tag "accueil/cover-w.jpg"
      .col-md-4
        = image_tag "accueil/cover-w.jpg"

    .row.cases-accueil
      .col-md-4
        = image_tag "accueil/cover-w.jpg"
      .col-md-4
        = image_tag "accueil/cover-w.jpg"
      .col-md-4
        = image_tag "accueil/cover-w.jpg"



