.container
  .row.header-xtg
    .col-md-12
      %h1
        Design graphique
        = image_tag "xtg/logo-xtg2.png"
        Publication digitale


.container-full.menu-xtg
  .container
    .row
      .col-md-3
        %nav 
          .titres-menu
            Identité & edition
      .col-md-3
        %nav 
          .titres-menu
            Illustrations
      .col-md-3
        %nav 
          .titres-menu
            Web
      .col-md-3
        %nav 
          .titres-menu
            Publications digitales


.container
  .row.image-principale
    .col-md-12
      = image_tag "motul/main-motul2.jpg"
  .row
    .col-md-4
      %p.info-tech
        Client : Motul
        <br/>
        Design : Xavier Trannoy
        <br/>
        Developpement : Rouge Cardinal

    .col-md-8
      %h2 
        Motul
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

.container
  .row.surtitre
    .col-md-12
      %h3
        Motul Sport News

.container-full.fond-noir
  .container
    .row.textes-blancs
      .col-md-8
        = image_tag "motul/les-msn.png"
      .col-md-4
        %h3 
          Résultats hebdomadaires
        %p
          Chaque semaine, les résultats des coureurs sponsorisés par Motul sont, traduits en 5 langues, illustrés de photos et mis en page. Les news sont diffusées par email, à l'ensemble du réseau Motul. Salariés internationaux, partenaires et afficionados : la grande famille des passionnés de sport mécaniques. Les résultats sont classés et mis à disposition sur une plateforme en ligne.
    .row.details
      .col-md-4
        = image_tag "motul/msn1.png"
      .col-md-4
        = image_tag "motul/msn2.png"
      .col-md-4
        = image_tag "motul/msn3.png"

.container
  .row.surtitre
    .col-md-12
      %h3
        Web

  .row.chapitre-blanc
    .col-md-4
      %h3 
        Homepage simplifiée et dynamique
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit.
    .col-md-8
      = image_tag "motul/motul-homepage.png";

  .row.chapitre-blanc
    .col-md-8
      = image_tag "motul/motul-fanzone.png";
    .col-md-4
      %h3 
        Fanzone axée images
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit.
