.container
  .row.header-xtg
    .col-md-12
      %h1
        Design graphique
        = image_tag "xtg/logo-xtg2.png"
        Publication digitale


.container-full.menu-xtg
  .row.transition
    .col-md-12

  .container
    .row
      .col-md-3
        %nav 
          .titres-menu
            Identité & edition
      .col-md-3
        %nav 
          .titres-menu
            Illustrations
      .col-md-3
        %nav 
          .titres-menu
            Web
      .col-md-3
        %nav 
          .titres-menu
            Publications digitales


.container
  .row.image-principale
    .col-md-12
      = image_tag "ppr/main-ppr.jpg"
  .row
    .col-md-4
      %p.info-tech
        Client : Fondation PPR
        <br/>
        Design : Xavier Trannoy
    .col-md-8
      %h2 
        Fondation PPR
      %p
        Réalisation du rapport d’activité de la fondation PPR, retraçant ses 2 premières années d’actions menées auprès de femmes, à travers le monde. Le rapport bilingue français / anglais est conçu à double entrée. les 37 projets soutenus sont thématisés en 5 axes, chers à la Fondation. Le rapport est accompagné d’une série d’affiches accrochées au sein du siège pour susciter l’intérêt des collaborateurs, et les sensibiliser aux actions menées.



.container-full.terre-battue
  .container
    .row.surtitre
      .col-md-12
        %h3.blanc
          Pages intérieures
    .row.textes-blancs
      .col-md-8
        = image_tag "ppr/ppr-img1.png"
      .col-md-4
        %h3 
          Rapport d'activité 2011
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .row.legendes-blanches
      .col-md-3
        = image_tag "ppr/ppr-img2.png"
        %h4
          Une action mondiale
      .col-md-3
        = image_tag "ppr/ppr-img3.png"
        %h4
          Détails des initiatives
      .col-md-3
        = image_tag "ppr/ppr-img4.png"
        %h4
          Thématiques
      .col-md-3
        = image_tag "ppr/ppr-img5.png"
        %h4
          Focus

.container
  .row.surtitre
    .col-md-12
      %h3
        Forme au service du contenu


.container
  .row.chapitre-blanc
    .col-md-4
      %h3 
        Pliage adéquat
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .col-md-8
      = image_tag "ppr/ppr1.jpg"

.container
  .row.chapitre-blanc
    .col-md-8
      = image_tag "ppr/ppr1.jpg"
    .col-md-4
      %h3 
        Combinaison de papiers sensible
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

.container-full.mur-gris
  .container
    .row
      .col-md-3
        %h3 
          Affiches complémentaires
        %p
          Série d'affiches présentée dans les locaux de PPR, pour sensibiliser les collaborateurs du groupe aux actions menées par la Fondation.
      .col-md-1
      .col-md-2
        = image_tag "ppr/affiche1.png"
      .col-md-2
        = image_tag "ppr/affiche2.png"
      .col-md-2
        = image_tag "ppr/affiche3.png"
      .col-md-2
        = image_tag "ppr/affiche4.png"







