.container.header-xtg
  .row
    .col-md-12
      = image_tag "xtg/logo-xtg.png"
      %h1 Design graphique - Publications digitales

.container-full.menu-xtg
  .container
    .row
      .col-md-3
        %nav 
          .titres-menu
            Identité & edition
      .col-md-3
        %nav 
          .titres-menu
            Illustrations
      .col-md-3
        %nav 
          .titres-menu
            Web
      .col-md-3
        %nav 
          .titres-menu
            Publications digitales


.container.image-principale-projet-xtg
  .row
    .col-md-12
      = image_tag "xtg/main-fond-gregorutti.jpg"
      %h3 nom du projet principal


.container.details-xtg
  .row
    .col-md-4
      = image_tag "xtg/image-carre.jpg"
      %h3 nom projet
    .col-md-4
      = image_tag "xtg/image-carre.jpg"
      %h3 nom projet
    .col-md-4
      = image_tag "xtg/image-carre.jpg"
      %h3 nom projet
  .row.frames
    .col-md-4
      = image_tag "xtg/image-carre.jpg"
      %h3 nom projet
    .col-md-4
      = image_tag "xtg/image-carre.jpg"
      %h3 nom projet
    .col-md-4
      = image_tag "xtg/image-carre.jpg"
      %h3 nom projet
  .row.frames
    .col-md-4
      = image_tag "xtg/image-carre.jpg"
      %h3 nom projet
    .col-md-4
      = image_tag "xtg/image-carre.jpg"
      %h3 nom projet
    .col-md-4
      = image_tag "xtg/image-carre.jpg"
      %h3 nom projet
